
header {
    background: #242424;
    background-image: linear-gradient(to bottom,#000000 ,  #111 100%);
    /*padding: 20px 15px 15px 15px;*/
    position: fixed;
    z-index: 2;/* Stay on top */
    height: 120px;
    left:0; 
    right:0;
    align-content: center;
    
    transition: 0.3s; 
    /*padding-left: 300px;*/
    /*width: 100%;*/
    /*margin-left: 300px;*/
}

.container {
  /*max-width: 600px;*/
  margin: 15px 100px 15px 10px;
  padding: 15px 10px 15px 10px;
  /*min-height: 100%;*/
  background: #e3eaec;
}

.important-container {
  /*max-width: 600px;*/
  margin: 15px 75px 20px 0px;
  padding: 20px 20px 30px 20px;
  /*min-height: 100%;*/
  background: #c5dce9;
}

p {
    font-size: 16px;
}

b {
    font-size: 16px;
}

button.accept {
    background-color: #2bff8c;
    border: none;
    color: white;
    padding: 10px 315px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.reject {
    background-color: #ff963c;
    border: none;
    color: white;
    padding: 10px 315px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

header .title {
    
    margin: 5px 5px 0px 5px;
    font-size: 24px;
    text-decoration: bold;
    color: #ffffff;
    display: inline-block;
}

header img {
    float:right;
   
    height:40px;
}

/* When you mouse over the navigation links, change their color */
header .link:hover, .offcanvas .link:focus{
    color: #f1f1f1;
}

header .dropdown {
    float: right;
margin: 0px 8px 0px 0px;
}

header .link {
    float: left;
     margin: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main-layout {

     /*margin-left: 300px;*/
    position: absolute;
    left:100px; top:130px; right:0; bottom:0;
}



