
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h1 {
    padding: 5px 5px 5px 16px;
    font-size: 27px;
    text-decoration: bold;
    color: #ffffff;
    display: inline-block;
    transition: 0.3s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a.small  {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main-layout {
  
   
     margin-left: 300px;
    
}
/*
.main-layout {
    margin-left: 250px;
}
*/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
     .sidenav h1 {font-size: 18px;}
    .sidenav {
        padding-top: 15px;
        width: 200px;
    }   
    .sidenav a.small {font-size: 16px;}
    .sidenav a {font-size: 18px;}

}