
header {
    background: #242424;
    background-image: linear-gradient(to bottom,#000000 ,  #111 100%);
    /*padding: 20px 15px 15px 15px;*/
    position: fixed;
    z-index: 2;/* Stay on top */
    height: 120px;
    left:0; 
    right:0;
    align-content: center;
    
    transition: 0.3s; 
    /*padding-left: 300px;*/
    /*width: 100%;*/
    /*margin-left: 300px;*/
}

header .title {
    
    margin: 5px 5px 0px 5px;
    font-size: 24px;
    text-decoration: bold;
    color: #ffffff;
    display: inline-block;
}

header .dropdown {
    float: right;
margin: 0px 8px 0px 0px;
}

header .link {
    float: left;
     margin: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main-layout {

     /*margin-left: 300px;*/
    position: absolute;
    left:100px; top:130px; right:0; bottom:0;
}


/* When you mouse over the navigation links, change their color */
.header a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
