<template name="SideNav">
<!-- Reminder: You can move files around your project folder, and Meteor will always find them! 
Just reference your template with the name you give in here.-->
	<nav class="side-nav">
	<ul>
		<li>
			<a href="/reseptikirja"><i class="fa fa-list"></i> Reseptikirja</a>
		</li>
		<li>
			<a href="/ruokalista"><i class="fa fa-map-o"></i>  Ruokalista</a>
		</li>
		<li>
			<a href="/ostokset"> <i class="fa fa-shopping-cart"></i> Ostokset</a>
		</li>
	</ul>
	</nav>
</template>