<template name="Header">

	<header class="dapp-header">
		<nav>
		    <ul>
		        <li>
				<h1>Classic Car Chain</h1>
				


					<!--"fa fa-address-card"-->

		 			<a href={{goToPage "accounts"}} class="active">
		                <i class="fa fa-address-card"></i>
		                <span>Accounts</span>
		            </a>

		 			<a href={{goToPage "contract"}} class="active">
		                <i class="fa fa-car"></i>
		                <span>Smart Contract</span>
		            </a>
<!--
            		<a href={{goToPage "offers"}} class="active">
		               <i class="fa fa-history"></i>
		                <span>Offers</span>
		            </a>

					<a href={{goToPage "highlights"}} class="active">
		                <i class="fa fa-star"></i>
		                <span>Highlights</span>
		            </a>

            		<a href={{goToPage "requests"}} class="active">
		               <i class="fa fa-question-circle"></i>
		                <span>Requests</span>
		            </a>
-->
              		<a href={{goToPage "history"}} class="active">
		               <i class="fa fa-history"></i>
		                <span>History</span>
		            </a>
		        </li>
		    </ul>
		</nav>

   {{> ChangeAccountDropdown}}
	</header>

</template>