<template name="SideNav">

	<div id="mySidenav" class="sidenav">
		<h1>Classic Car Chain</h1>
		<a href="/accounts"><i class="fa fa-address-card"></i> Accounts</a>

		<a href="/contract"><i class="fa fa-car"></i> Smart Contract</a>

		<a class="small" href="/highlights"><i class="fa fa-star-o"></i> Highlights</a>

		<a class="small" href="/requests"><i class="fa fa-question-circle"></i> Requests</a >

		<a href="/history"> <i class="fa fa-history"></i> History</a>
	
		<a href="/blockchain"> <i class="fa fa-link"></i> Block Chain</a>

	</div>
</template>