<template name="SideNav">
<!--
	<div class="sidenav">

		<a href= {{goToPage "accounts"}}><i class="fa fa-address-card"></i> Accounts</a>

		<a href=  {{goToPage "contract"}}><i class="fa fa-car"></i> Smart Contract</a>

		<a class="small" href={{goToPage "highlights"}}><i class="fa fa-star-o"></i> Highlights</a>

		<a class="small" href={{goToPage "requests"}}><i class="fa fa-question-circle"></i> Requests</a >

		<a href={{goToPage "history"}}> <i class="fa fa-history"></i> History</a>
	
		<a href={{goToPage "offers"}}> <i class="fa fa-history"></i> Offers</a>

		<a href={{goToPage "blockchain"}}> <i class="fa fa-link"></i> Block Chain</a>

	</div>
	-->
</template>