<template name="EOfferRemoved">
	<div class="container">
		<h3>Offer removed</h3>

		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Amount:</b> {{convertBigNumber amount}}</p>
	</div>
</template>

<template name="EOfferRejected">
	<div class="container">
		<h3>Offer rejected</h3>
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Amount:</b> {{convertBigNumber amount}}</p>
	</div>
</template>

<template name="EOfferAccepted">
	<div class="container">
		<h3>Offer accepted</h3>
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Amount:</b> {{convertBigNumber amount}}</p>
	</div>
</template>

<template name="EHighlightRequestMade">
	<div class="container">
		<h3>Highlight request made</h3>
		<p><b>Request creation date-time:</b> {{convertDate requestCreationDateTime}}</p>
		<!-- <p><b>highlightId:</b> {{convertBigNumber highlightId}}</p> -->
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Requested reward:</b> {{convertBigNumber requestedReward}}</p>
		<p><b>Message:</b> {{message}}</p>
	</div>
</template>

<template name="EHighlightSavedToChain">
	<div class="container">
		<h3>Highlight saved to chain</h3>

		{{if madeByCurrentOwner}}
			<b>Owner-made highlight</b>
		{{/if}}
		
		
		<p><b>Addition to chain date-time:</b> {{convertDate additionToChainDateTime}}</p>
		<!-- 
		<p><b>highlightId:</b> {{convertBigNumber highlightId}}</p> 
		-->
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Request creation date-time:</b> {{convertDate requestCreationDateTime}}</p>
		<p><b>Paid reward:</b> {{convertBigNumber paidReward}}</p>
		<p><b>Message:</b> {{message}}</p>
	</div>
</template>

<template name="EHighlightRequestRejected">
	<div class="container">
		<h3>Highlight request rejected</h3>
		<p><b>Date-</b>time: {{convertDate rejectionDateTime}}</p>
		<!-- <p><b>highlightId:</b> {{convertBigNumber highlightId}}</p> -->
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Request creation date-time:</b> {{convertDate requestCreationDateTime}}</p>
		<p><b>Paid reward:</b> {{convertBigNumber requestedReward}}</p>
		<p><b>Message:</b> {{message}}</p>
	</div>
</template>

<template name="EHighlightDeleted">
	<div class="container">
		<h3>Highlight deleted</h3>

		{{if madeByCurrentOwner}}
			<b>Owner-made highlight</b>
		{{/if}}

		<p><b>Deletion date-time:</b> {{convertDate deletionDateTime}}</p>
		<p><b>Reason for deletion:</b> {{reasonForDeletion}}</p>


		<!-- <p><b>highlightId:</b> {{convertBigNumber highlightId}}</p> -->
		<p><b>Maker:</b> {{> dapp_identicon identity=maker class="dapp-small"}} {{maker}}</p>
		<p><b>Request creation date-time:</b> {{convertDate requestCreationDateTime}}</p>
		<p><b>Paid reward:</b> {{convertBigNumber paidReward}}</p>
		<p><b>Message:</b> {{message}}</p>
		<p><b>Addition to chain date-time:</b> {{convertDate additionToChainDateTime}}</p>
	</div>
</template>

<template name="EVehicleOwnershipPassed">
	<div class="container">
		<h3>Vehicle ownership passed</h3>
		<p><b>Date-time:</b> {{convertDate dateTime}}</p>
		<p><b>Former owner:</b> {{> dapp_identicon identity=oldOwner class="dapp-small"}} {{oldOwner}}</p>
		<p><b>New owner:</b> {{> dapp_identicon identity=newOwner class="dapp-small"}} {{newOwner}}</p>
	</div>
</template>